@{
    string siteName = Environment.GetEnvironmentVariable("SITE_NAME_OAKS_VILLAGE")!;
    string siteURL = Environment.GetEnvironmentVariable("SITE_URL_OAKS_VILLAGE")!;

    ViewData["Title"] = "Welcome to " +  siteName + ".";
    ViewData["Canonical"] = siteURL + "/Info/index";
    ViewData["OGDescription"] = "Explore our community and learn more about us.";

    ViewData["Description"] = ViewData["Title"] + " " + siteName;
    ViewData["OGTitle"] = ViewData["Title"];
    ViewData["OGURL"] = ViewData["Canonical"];
}

<!-- Top Button placed here -->
<button style="display:none;" class="btn btn-sm px-1 py-0" onclick="topFunction()" id="top-button" title="Go to top"><i class="bi bi-chevron-double-up"></i></button>

<!-- View -->
<head>
    <title>@ViewData["Title"]</title>
</head>

<!-- Banner Logo -->
<partial name="_PartialBannerLogo" />    

<div class="row pb-lg-2 gx-0 gy-2 gy-lg-3 container m-0 mx-auto pb-0 text-center">

    <div class="col-11 col-md-8 pt-sm-0 pt-lg-4 mx-auto text-start" >
        <p class="text-black about-text-fs pb-2 text-left">
           Welcome to the online home of Oaks Village, a friendly, non-smoking 55+ community in Avon Park, Florida. 
           <br><br>
           With over 70 residences and available building lots, Oaks Village offers a welcoming environment. 
           Southern Homes, our builder, has an office conveniently located inside the gate at Palmetto and Emmanuel Way.           
        </p>
    </div>

    <div class="col-12 pt-sm-0 pt-lg-4 mx-auto px-2" >
        <img alt="" class="img-fluid w-100 rounded px-0" src="/Images/PageImages/uentry.jpg">
        <p class="text-black welcome-text-fs py-1 text-center">
            We invite you to visit!
        </p>
    </div>

</div>

@section Scripts {
    <!-- Top Button Script -->
    <script>

        //Get the button
        var mybutton = document.getElementById("top-button");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 320 || document.documentElement.scrollTop > 320) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }

    </script>
}

