@{   
    ViewBag.Title = ViewData["ViewName"];

    ViewData["Title"] = "More Links";
    ViewData["Description"] = "Discover the beautiful community of Oaks-Village.";
    ViewData["Canonical"] = "https://Oaks-Village.com/Info/MoreLinks";
    ViewData["OGTitle"] = "More Links";
    ViewData["OGDescription"] = "Explore our community and learn more about us.";
    ViewData["OGURL"] = "https://Oaks-Village.com/Info/MoreLinks";
    // ViewData["OGImage"] = "https://Oaks-Village.com/Images/LinkImages/SpecificPageImage.png"; //Optional

}

<!-- View -->
<head>
    <title>@ViewData["Title"]</title>
</head>

<!-- Logo Image -->
<partial name="_OaksTreesLogo" />

@* <!-- View -->
<div class="container row m-0 pb-2 pb-lg-4 gx-0 gy-2 gy-lg-3 mx-auto text-center">
    <div class="col-12 mt-0">
        <img alt="" class="img-fluid" src="~/images/svg/logos/logoOaksVillage.svg" />
    </div>
</div>
 *@
<div class="container mb-4">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">            
                <h1 class="text-center mt-2 mb-3 text-gold-darker">@ViewData["Title"]</h1>
            <p class="text-center mb-2 text-gold-darker">Helpful links for your convenience.</p>

            <div class="card p-2 shadow rounded bg-gold-footer">
                <div class="row justify-content-center">
                    <div class="col-md-auto">
                        <div class="d-flex flex-column align-items-start">
                            <div class="mt-2">
                            <div class="mt-2">
                                <a class="btn btn-option border-0" href="https://Avonparkcamp.com" target="_blank">Avon Park Camp</a>
                            </div>
                            <div class="mt-2">
                                <a class="btn btn-option border-0" href="https://www.avonparkchurch.org/" target="_blank">Community Bible Church</a>
                            </div>
                            <div class="mt-2">
                                <a class="btn btn-option border-0" href="https://hcpao.org" target="_blank">Highlands County Property Appraiser</a>
                            </div>
                            <div class="mt-2">
                                <a class="btn btn-option border-0" href="https://www.mysouthernhome.com" target="_blank">Southern Homes</a>
                            </div>
                            <div class="mt-2">
                                <a class="btn btn-option border-0" href="https://www.myhlc.org/avon-park-public-library" target="_blank">Avon Park Library</a>
                            </div>
                            <div class="mt-2">
                                <a class="btn btn-option border-0" href="https://ologap.org" target="_blank">Our Lady of Grace Catholic Church</a>
                            </div>
                            <div class="mt-2">
                                <a class="btn btn-option border-0" href="https://slwcog.com" target="_blank">South Lake Wales Church of God</a>
                            </div>
                            <div class="mt-2">
                                <a class="btn btn-option border-0" href="https://Duke-energy.com" target="_blank">Duke Energy</a>
                            </div>
                            <div class="mt-2">
                                <a class="btn btn-option border-0" href="https://www.avonpark.city" target="_blank">Avon Park FL</a>
                            </div>
                            <div class="mt-2">
                                <a class="btn btn-option border-0" href="https://avonparkhistoricalsociety.com/" target="_blank">Avon Park Depot Museum</a>
                            </div>
                            <div class="mt-2">
                                <a class="btn btn-option border-0" href="https://aplbc.info/" target="_blank">Avon Park Lakes Baptist Church</a>
                            </div>
                            <div class="mt-2">
                                <a class="btn btn-option border-0" href="https://OLOG-vita.com" target="_blank">VITA Free Tax Preparation</a>
                            </div>
                            <div class="mt-2">
                                <a class="btn btn-option border-0" href="https://Fbcap.net" target="_blank">First Baptist Church</a>
                            </div>
                            <div class="mt-2">
                                <a class="btn btn-option border-0" href="https://sfscarts.org/" target="_blank">SFSC Concerts</a>
                            </div>
                            <div class="mt-2">
                                <a class="btn btn-option border-0" href="https://APNazarene.org" target="_blank">Avon Park Nazarene</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>     
    </div>
</div>
