/* #region Guideline Colors */
/* #region White */
.text-white {
    color: #FFFFFF;
}

.bg-white {
    background-color: #FFFFFF;
}
/* #endregion */
/* #region Blue */
.text-blue-lighter {
    color: #83D3EB;
}

.bg-blue-lighter {
    background-color: #83D3EB;
}

.text-blue-light {
    color: #50B8D4;
}

.bg-blue-light {
    background-color: #50B8D4;
}

.text-blue {
    color: #54A0BA;
}

.bg-blue {
    background-color: #54A0BA;
}

.text-blue-dark {
    color: #53819A;
}

.bg-blue-dark {
    background-color: #53819A;
}

.text-blue-darker {
    color: #214351;
}

.bg-blue-darker {
    background-color: #214351;
}
/* #endregion */
/* #region Green */
.text-green-lighter {
    color: #84CBA0;
}

.bg-green-lighter {
    background-color: #84CBA0;
}

.text-green-light {
    color: #5DBF8B;
}

.bg-green-light {
    background-color: #5DBF8B;
}

.text-green {
    color: #4DAF7C;
}

.bg-green {
    background-color: #4DAF7C;
}

.text-green-dark {
    color: #40996D;
}

.bg-green-dark {
    background-color: #40996D;
}

.text-green-darker {
    color: #265039;
}

.bg-green-darker {
    background-color: #265039;
}
/* #endregion */
/* #region Gray */
.text-gray-lighter {
    color: #DEDFE0;
}

.bg-gray-lighter {
    background-color: #DEDFE0;
}

.text-gray-light {
    color: #ABADB0;
}

.bg-gray-light {
    background-color: #ABADB0;
}

.text-gray {
    color: #7D7E81;
}

.bg-gray {
    background-color: #7D7E81;
}

.text-gray-dark {
    color: #4A4B4C;
}

.bg-gray-dark {
    background-color: #4A4B4C;
}

.text-gray-darker {
    color: #414042;
}

.bg-gray-darker {
    background-color: #414042;
}
/* #endregion */
/* #region Purple */
.text-purple-lighter {
    color: #A688BF;
}

.bg-purple-lighter {
    background-color: #A688BF;
}

.text-purple-light {
    color: #836AA3;
}

.bg-purple-light {
    background-color: #836AA3;
}

.text-purple {
    color: #695683;
}

.bg-purple {
    background-color: #695683;
}

.text-purple-dark {
    color: #57446C;
}

.bg-purple-dark {
    background-color: #57446C;
}

.text-purple-darker {
    color: #332940;
}

.bg-purple-darker {
    background-color: #332940;
}
/* #endregion */
/* #region Red */
text-red-lighter {
    color: #ecb3b8
}

.bg-red-lighter {
    background-color: #ecb3b8;
}

.text-red-light {
    color: #F2644E;
}

.bg-red-light {
    background-color: #F2644E;
}

.text-red {
    color: #EF4237;
}

.bg-red {
    background-color: #EF4237;
}

.text-red-dark {
    color: #C72D27;
}

.bg-red-dark {
    background-color: #C72D27;
}
/* #endregion */
/* #region Orange */
.text-orange-light {
    color: #FBB042;
}

.bg-orange-light {
    background-color: #FBB042;
}

.text-orange {
    color: #F89626;
}

.bg-orange {
    background-color: #F89626;
}

.text-orange-dark {
    color: #F47B20;
}

.bg-orange-dark {
    background-color: #F47B20;
}
/* #endregion */
/* #region Yellow */
.text-yellow-light {
    color: #FAF06F;
}

.bg-yellow-light {
    background-color: #FAF06F;
}

.text-yellow {
    color: #F4D40F;
}

.bg-yellow {
    background-color: #F4D40F;
}

.text-yellow-dark {
    color: #E8BE1F;
}

.bg-yellow-dark {
    background-color: #E8BE1F;
}
/* #endregion */
/* #region Gold */
.text-gold-footer {
    color: #BEB08D;
}

.bg-gold-footer {
    background-color: #BEB08D /*#dec383;*/
}

.text-gold-lighter {
    color: #F2CA46;
}

.bg-gold-lighter {
    background-color: #F2CA46;
}

.text-gold-light {
    color: #DAA425;
}

.bg-gold-light {
    background-color: #DAA425;
}

.text-gold {
    color: #AD8003;
}

.bg-gold {
    background-color: #AD8003;
}

.text-black {
    color: #8C6412;
}

.bg-gold-dark {
    background-color: #8C6412;
}

.text-blacker {
    color: #4E3802;
}
.text-black {
    color: #424143 !important; /* almost black */
}    
    
/* #endregion */


/* #endregion */
/* #endregion */



/* bg-card-light */
.bg-card-light {
    background-color: #fdf5cc;
    
}




