/* #region Sizes */
.dropdown-menu {
    min-width: 210px;
}

/* Buttons */
.delete-button i {
    font-size: 1.0em;
}

.btn-rename i {
    font-size: 1.0em;
}

.page-button-size {
    width: 220px;
}

.back-button-image-size {
    height: 18px;
}

.group-button-size {
    min-width: 42px;
    height: 35px;
    font-size: 16px;
}

.nav-item-one {
    padding-top: 50px;
}

.logo {
    height: 60px;
}

.nbLogo {
    height: 18px;
}

/* #region (BS -sm- ) (min-width: 575px) and (max-width: 768px) Smaller tablets */
@media (min-width: 575px) and (max-width: 768px) {
    #mainContainer {
        margin-top: 30px;
    }

    .nbLogo {
        height: 18px;
    }

    #mainContainer {
        margin-top: 30px;
    }

    .nav-item-one {
        padding-top: 47px;
    }

    .nav-link-fs {
        font-size: 18px;
    }

    .link-fs {
        font-size: 20px;
    }

    .nav-text-fs {
        font-size: 18px;
    }
}
/* #endregion  */

/* #region (BS -md- ) (min-width: 768.01px) and (max-width: 991px) Large tablet styles */
@media (min-width: 768.01px) and (max-width: 991px) {
    #mainContainer {
        margin-top: 30px;
    }

    .viewContainer {
        border-right: 16px solid darkgoldenrod;
        border-left: 16px solid darkgoldenrod;
    }

    .nav-item-one {
        padding-top: 0;
    }

    .nav-link-fs {
        font-size: 24px;
    }

    .link-fs {
        font-size: 16px;
    }

    .nav-text-fs {
        font-size: 18px;
    }
}
/* #endregion */

/* #region (BS -lg- ) (min-width: 992px) Start of Desktop */
@media (min-width: 992px) {
    #mainContainer {
        margin-top: 30px;
    }

    .viewContainer {
        border-right: 16px solid darkgoldenrod;
        border-left: 16px solid darkgoldenrod;
    }

    .nav-item-one {
        padding-top: 0;
    }

    .nav-link-fs {
        font-size: 24px;
    }

    .link-fs {
        font-size: 16px;
    }

    .nav-text-fs {
        font-size: 24px;
    }
}
/* #endregion*/

/* #region (BS -lx- ) (min-width: 1200px) Medium Desktop*/
@media (min-width: 1200px) {
}
/* #endregion */

/* #region (BS - xlg- ) (min-width: 1399.98px) Large Desktop */
@media (min-width: 1399.98px) {
}
/* #endregion */