@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Password Reset";

    ViewData["Description"] = "Discover the beautiful community of Oaks-Village.";
    ViewData["Canonical"] = "https://www.oaks-village.com/Identity/Account/ForgotPasswordConfirmation";
    ViewData["OGTitle"] = "Forgot password confirmation";
    ViewData["OGDescription"] = "Oaks-Village Forgot password confirmation";
    ViewData["OGURL"] = "https://www.oaks-village.com/Identity/Account/ForgotPasswordConfirmation";
    // ViewData["OGImage"] = "https://Oaks-Village.com/Images/LinkImages/SpecificPageImage.png"; //Optional

}

<head>
    <title>@ViewData["Title"]</title>
</head>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow rounded p-4 bg-Card-Menu">
                <div class="card-body text-center">
                    <h2 class="mb-4">
                        <!-- <i class="bi bi-lock-fill"> --></i> <i class="bi bi-question-circle-fill"></i> @ViewData["Title"]
                    </h2>
                    <p class="mb-4">
                        Please check your email to reset your password.
                    </p>
                    <a href="~/" class="btn btn-sm btn-primary"><i class="bi bi-house-fill"></i> Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
