@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot password?";

    ViewData["Description"] = "Discover the beautiful community of Oaks-Village.";
    ViewData["Canonical"] = "https://www.oaks-village.com/Identity/Account/ForgotPassword";
    ViewData["OGTitle"] = "Forgot your password?";
    ViewData["OGDescription"] = "Oaks-Village Forgot your password?";
    ViewData["OGURL"] = "https://www.oaks-village.com/Identity/Account/ForgotPassword";
    // ViewData["OGImage"] = "https://Oaks-Village.com/Images/LinkImages/SpecificPageImage.png"; //Optional

}

<head>
    <title>@ViewData["Title"]</title>
</head>

<!-- Logo Image -->
<partial name="_LargeLogo" />

<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card p-2 shadow rounded bg-Card-Menu">
                <div class="card-body p-0">
                    <h2 class="mb-4">
                        <!-- <i class="bi bi-lock-fill"></i> --> <i class="bi bi-question-circle-fill"></i> @ViewData["Title"]
                    </h2>
                    <h6 class="text-center mt-2 mb-2 text-gold-darker">Enter your email.</h6>
                    <form method="post">
                        <!-- <div asp-validation-summary="ModelOnly" class="text-danger text-center mb-3" role="alert"></div> -->
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                            <label asp-for="Input.Email" class="form-label">Email</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-sm btn-primary">
                                <i class="bi bi-arrow-clockwise"></i> Reset
                            </button>
                            <a href="~/" class="btn btn-sm btn-danger">
                                <i class="bi bi-x-circle"></i> Cancel
                            </a>
                        </div>
                    </form> 
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}