@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";

    ViewData["Description"] = "Discover the beautiful community of Oaks-Village.";
    ViewData["Canonical"] = "https://www.oaks-village.com/Identity/Account/Lockout";
    ViewData["OGTitle"] = "Locked out";
    ViewData["OGDescription"] = "Oaks-Village Locked out";
    ViewData["OGURL"] = "https://www.oaks-village.com/Identity/Account/Lockout";
    // ViewData["OGImage"] = "https://Oaks-Village.com/Images/LinkImages/SpecificPageImage.png"; //Optional

}

<head>
    <title>@ViewData["Title"]</title>
</head>

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">This account has been locked out, please try again later.</p>
</header>
