@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";

    ViewData["Description"] = "Discover the beautiful community of Oaks-Village.";
    ViewData["Canonical"] = "https://www.oaks-village.com/Identity/Account/Register";
    ViewData["OGTitle"] = "Register";
    ViewData["OGDescription"] = "Oaks-Village Register";
    ViewData["OGURL"] = "https://www.oaks-village.com/Identity/Account/Register";
    // ViewData["OGImage"] = "https://Oaks-Village.com/Images/LinkImages/SpecificPageImage.png"; //Optional

}

<head>
    <title>@ViewData["Title"]</title>
</head>

<div class="container row m-0 pb-2 pb-lg-4 gx-0 gy-2 gy-lg-3 mx-auto text-center">
    <div class="col-12 mt-0">
        <img alt="" class="img-fluid" src="~/images/svg/logos/logoOaksVillage.svg" />
    </div>
</div>

<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow rounded p-2 bg-gold-light">
                <div class="card-body p-0">
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <h2 class="text-center text-gold-darker mb-4">
                            <i class="bi bi-person-plus-fill"></i> Create your HOA account
                        </h2>
                        <div asp-validation-summary="ModelOnly" class="text-danger text-center mb-3" role="alert"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                            <label asp-for="Input.Email" class="form-label">Email</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.PhoneNumber" class="form-control" id="phoneNumber" placeholder="Phone Number" />
                            <label asp-for="Input.PhoneNumber" class="form-label">Phone Number</label>
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="row gx-3">
                            <div class="col-md-5 form-floating mb-3">
                                <input asp-for="Input.FirstName" class="form-control" autocomplete="given-name" aria-required="true" placeholder="First Name" />
                                <label asp-for="Input.FirstName" class="form-label">First Name</label>
                                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                            </div>
                            <div class="col-md-2 form-floating mb-3">
                                <input asp-for="Input.MiddleName" class="form-control" autocomplete="additional-name" placeholder="Middle Name (Optional)" />
                                @* <label asp-for="Input.MiddleName" class="form-label">Middle</label> *@
                                <span asp-validation-for="Input.MiddleName" class="text-danger"></span>
                            </div>
                            <div class="col-md-5 form-floating mb-3">
                                <input asp-for="Input.LastName" class="form-control" autocomplete="family-name" aria-required="true" placeholder="Last Name" />
                                <label asp-for="Input.LastName" class="form-label">Last Name</label>
                                <span asp-validation-for="Input.LastName" class="text-danger"></span>
                            </div>
                        </div>                          
                        <div class="form-floating mb-3">
                            <input asp-for="Input.AddressLine1" class="form-control" placeholder="Address Line 1" />
                            <label asp-for="Input.AddressLine1" class="form-label">Address Line 1</label>
                            <span asp-validation-for="Input.AddressLine1" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.AddressLine2" class="form-control" placeholder="Address Line 2" />
                            <label asp-for="Input.AddressLine2" class="form-label">Address Line 2</label>
                            <span asp-validation-for="Input.AddressLine2" class="text-danger"></span>
                        </div>
                        <div class="row gx-3">
                            <div class="col-5 form-floating mb-3">
                                <input asp-for="Input.City" class="form-control" placeholder="City" />
                                <label asp-for="Input.City" class="form-label">City</label>
                                <span asp-validation-for="Input.City" class="text-danger"></span>
                            </div>
                            <div class="col-3 form-floating mb-3">
                                <input asp-for="Input.State" class="form-control" placeholder="State" />
                                <label asp-for="Input.State" class="form-label">State</label>
                                <span asp-validation-for="Input.State" class="text-danger"></span>
                            </div>
                            <div class="col-4 form-floating mb-3">
                                <input asp-for="Input.ZipCode" class="form-control" placeholder="Zip Code" />
                                <label asp-for="Input.ZipCode" class="form-label">Zip</label>
                                <span asp-validation-for="Input.ZipCode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Plot" class="form-control" placeholder="Plot" />
                            <label asp-for="Input.Plot" class="form-label">Plot</label>
                            <span asp-validation-for="Input.Plot" class="text-danger"></span>
                        </div>
                        <hr/>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                            <label asp-for="Input.Password" class="form-label">Password</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                            <label asp-for="Input.ConfirmPassword" class="form-label">Confirm Password</label>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <button id="registerSubmit" type="submit" class="btn btn-sm btn-primary">
                                <i class="bi bi-person-plus-fill"></i> Register
                            </button>
                            <a asp-controller="Info" asp-action="Index" class="btn btn-sm btn-danger">
                                <i class="bi bi-x-circle"></i> Cancel
                            </a>
                        </div>                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>        
        document.addEventListener('DOMContentLoaded', function () {
            const phoneNumberInput = document.getElementById('phoneNumber');
            // const fullNameInput = document.getElementById('fullName');

            phoneNumberInput.addEventListener('input', function () {
                let inputValue = this.value.replace(/\D/g, ''); // Remove non-digit characters

                if (inputValue.length > 10) {
                    inputValue = inputValue.substring(0, 10); // Limit to 10 digits
                }

                if (inputValue.length > 0) {
                    let formattedValue = '';

                    if (inputValue.length > 0 && inputValue.length < 4) {
                        formattedValue = inputValue;
                    }
                    else if (inputValue.length > 3 && inputValue.length < 7) {
                        formattedValue = '(' + inputValue.substring(0, 3) + ') ' + inputValue.substring(3, 6);
                    }
                    else if (inputValue.length > 6) {
                        formattedValue = '(' + inputValue.substring(0, 3) + ') ' + inputValue.substring(3, 6) + '-' + inputValue.substring(6, 10);
                    }

                    this.value = formattedValue;
                }
            });

            // fullNameInput.addEventListener('input', function () {
            //     let inputValue = this.value;
            //     let words = inputValue.split(' ');
            //     let capitalizedWords = words.map(word => {
            //         if (word.length > 0) {
            //             return word.charAt(0).toUpperCase() + word.slice(1).toLowerCase();
            //         }
            //         return word;
            //     });
            //     this.value = capitalizedWords.join(' ');
            // });
        });
    </script>
}