@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset Password Confirmation";

    ViewData["Description"] = "Discover the beautiful community of Oaks-Village.";
    ViewData["Canonical"] = "https://www.oaks-village.com/Identity/Account/ResetPasswordConfirmation";
    ViewData["OGTitle"] = "Reset Password Confirmation";
    ViewData["OGDescription"] = "Oaks-Village Reset Password Confirmation";
    ViewData["OGURL"] = "https://www.oaks-village.com/Identity/Account/ResetPasswordConfirmation";
    // ViewData["OGImage"] = "https://Oaks-Village.com/Images/LinkImages/SpecificPageImage.png"; //Optional

}

<head>
    <title>@ViewData["Title"]</title>
</head>

<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow rounded p-4">
                <div class="card-body text-center bg-Card-Menu">
                    <h1 class="mb-4 text-gold-darker">
                        <i class="bi bi-shield-check"></i> @ViewData["Title"]
                    </h1>
                    <p class="mb-4 text-gold-darker">
                        Your password has been reset.
                    </p>
                    <a asp-page="./Login" class="btn btn-sm btn-primary">
                        <i class="bi bi-box-arrow-in-right"></i> Click here to log in
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>