@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";

    ViewData["Description"] = "Discover the beautiful community of Oaks-Village.";
    ViewData["Canonical"] = "https://www.oaks-village.com/Identity/Account/ResetPassword";
    ViewData["OGTitle"] = "Reset Password";
    ViewData["OGDescription"] = "Oaks-Village Reset Password";
    ViewData["OGURL"] = "https://www.oaks-village.com/Identity/Account/ResetPassword";
    // ViewData["OGImage"] = "https://Oaks-Village.com/Images/LinkImages/SpecificPageImage.png"; //Optional

}

<head>
    <title>@ViewData["Title"]</title>
</head>

<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow rounded m-1 p-0 bg-Card-Menu">
                <div class="card-body mx-0 px-2">
                    <h1 class="text-center mb-4 text-gold-darker">
                        <i class="bi bi-arrow-clockwise"></i> @ViewData["Title"]
                    </h1>
                    <!-- <h4 class="text-center mb-4 text-gold-darker">Reset password.</h4> -->
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger text-center mb-3" role="alert"></div>
                        <input asp-for="Input.Code" type="hidden" />
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                            <label asp-for="Input.Email" class="form-label">Email</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your password." />
                            <label asp-for="Input.Password" class="form-label">Password</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." />
                            <label asp-for="Input.ConfirmPassword" class="form-label">Confirm Password</label>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-sm btn-primary">
                                <i class="bi bi-arrow-clockwise"></i> Reset
                            </button>
                            <a href="~/" class="btn btn-sm btn-danger">
                                <i class="bi bi-x-circle"></i> Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}