@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<!-- Password Form -->
<div class="row justify-content-center">
    <div class="col-12 m-1">
        <div class="card shadow-sm">
            <div class="card-body">
                <form id="change-password-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.OldPassword" class="form-control shadow" autocomplete="current-password" aria-required="true" placeholder="" />
                    <label asp-for="Input.OldPassword" class="form-label"></label>
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.NewPassword" class="form-control shadow" autocomplete="new-password" aria-required="true" placeholder="" />
                    <label asp-for="Input.NewPassword" class="form-label"></label>
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control shadow" autocomplete="new-password" aria-required="true" placeholder="" />
                    <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="text-end">
                    <!-- Cancel -->
                    <a href="~/" class="btn btn-sm btn-secondary rounded-2 me-2 shadow">
                        <i class="bi bi-box-arrow-left"></i> Cancel
                    </a>

                    <!-- Update Password -->
                    <button type="submit" class="btn btn-sm btn-success rounded-2 me-2 shadow">
                        <i class="bi bi-lock-fill"></i><i class="bi bi-save"></i> Update password
                    </button>
                </div>
                
            </form>
            </div>
        </div>
        <partial name="_StatusMessage" for="StatusMessage" />
    </div>    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}