@{
    
    ViewData["Title"] = "Galleries";

    // Gallery Folder Name (location of gallery = wwwroot/{galleryFolder})
    string galleryFolder = "gallery";

    var viewName = ViewData["ViewName"]?.ToString();

    var folders = Directory.GetDirectories(System.IO.Path.Combine(Directory.GetCurrentDirectory(), $"wwwroot/{galleryFolder}"))
        .Select(folder => System.IO.Path.GetFileName(folder))
        .Where(folder => !folder.StartsWith("_"))
        .ToList();

    // Get the backgroundImage path
    string backgroundImage = $"{galleryFolder}/background.webp"; // default
    string[] imageExtensions = { ".jpg", ".png", ".webp", ".svg" }; // possible extensions

    // Loop through possible extensions
    foreach (var extension in imageExtensions)
    {
        var imagePath = $"{galleryFolder}/background{extension}";
        if (System.IO.File.Exists(System.IO.Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", imagePath)))
        {
            backgroundImage = imagePath;
            break;
        }
    }
}

<head>
    <title>@ViewData["Title"]</title>
</head>

<style>
    body {
        background-color: black;
    }
</style>

<div class="text-center mt-3">
    <h2 class="text-white"><i class="bi bi-images"></i> @viewName</h2>
</div>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <a id="Oaks-link" class="btn btn-sm btn-primary" href="/Oaks">Oaks</a>
                <a href="/" class="btn btn-sm btn-danger">Back</a>
            </div>
        </div>
    </div>
</div>

<!-- <script>
    $("body").css("background-image", "url('../@Url.Content(backgroundImage)')");
</script> -->